@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-move {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  10% {
    clip-path: inset(0 0 100% 0); /* O tempo para aparecer agora é menor */
  }
  30% {
    clip-path: inset(0 0 0 100%); /* Tempo para desaparecer */
  }
  50% {
    clip-path: inset(100% 0 0 0); /* Desaparecendo totalmente */
  }
  100% {
    clip-path: inset(0 100% 100% 0); /* Reinicia a animação */
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1.5s ease-in-out infinite;
}


.loading-border-blue {
  border-color: #3178C6;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}

.loading-border-cyan {
  border-color: #61DAFB;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}

.loading-border-yellow {
  border-color: #F7DF1E;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}
.loading-border-red {
  border-color: #f04c1a;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}

.loading-border-green {
  border-color: #0EA5E9;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}

.loading-border-black {
  border-color: #020f14;
  animation: border-move 3.0s linear infinite;
  border-width: 6px;
}

  html, body {
  color: white;
  background-color:#24242c

}
body {
  @apply bg-[#24242c] text-white antialiased;

}

