@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-move {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  10% {
    clip-path: inset(0 0 100% 0);
  }
  30% {
    clip-path: inset(0 0 0 100%);
  }
  50% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 100% 0);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 1.5s ease-in-out infinite;
}

.animate-move {
  animation: move 1s ease-in-out infinite;
}

.loading-border-blue {
  border-color: #3178C6;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

.loading-border-cyan {
  border-color: #61DAFB;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

.loading-border-yellow {
  border-color: #F7DF1E;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

.loading-border-red {
  border-color: #f04c1a;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

.loading-border-green {
  border-color: #33dbdb;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

.loading-border-black {
  border-color: #ffffff;
  animation: border-move 3.7s linear infinite;
  border-width: 6px;
}

html,
body {
  color: white;
  background-color: #24242c;
}

body {
  @apply bg-[#24242c] text-white antialiased;
}