@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-move {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 100% 0);
  }
}

.loading-border-blue {
  border-color: #3178C6;
  animation: border-move 4.5s linear infinite;
}

.loading-border-cyan {
  border-color: #61DAFB;
  animation: border-move 4.5s linear infinite;
}

.loading-border-yellow {
  border-color: #F7DF1E;
  animation: border-move 4.5s linear infinite;
}

.loading-border-green {
  border-color: #0EA5E9;
  animation: border-move 4.5s linear infinite;
}

  html, body {
  color: white;
  background-color:#24242c

}
body {
  @apply bg-[#24242c] text-white antialiased;

}
